
	
	<div class="container-fluid span3">
		<div id="nav_logo"><a href="#"></a></div>
		<div id="stats">
			<span class="stats_title"><h4>STATS:</h4></span>
			<p>
				<h5><span class="stats_subtitle">CURRENT USERS: </span><span id="total_count" class="stats_value">...</span></h5>
				<h5><span class="stats_subtitle">CONVERTED USERS: </span><span id="converted_count" class="stats_value">...</span></h5>
				<h5><span class="stats_subtitle">AVG TIME PG 1: </span><span id="room_1_average_time" class="stats_value">...</span></h5>
				<h5><span class="stats_subtitle">AVG TIME PG 2: </span><span id="room_2_average_time" class="stats_value">...</span></h5>
				<h5><span class="stats_subtitle">AVG TIME PG 3: </span><span id="room_3_average_time" class="stats_value">...</span></h5>
			</p>
		</div>
	</div>
	<div id="roomindex" class="room_container container-fluid room span6"></div>
	<div class="container-fluid span3"></div>
	
	<div class="container-fluid span4 arrow_left offset2"></div>
	<div class="container-fluid span4 arrow_right offset1"></div>
	
	<div id="room2" class="room_container container-fluid room span5"></div>
	<div class="span1 container-fluid"></div>
	<div id="room3" class="room_container container-fluid room span5"></div>
	
	<div class="container-fluid span4 arrow_right offset2"></div>
	<div class="container-fluid span4 arrow_left offset1"></div>
		
	<div class="span3 container-fluid"></div>
	<div id="room4" class="room_container container-fluid room span6"></div>
	<div class="span3 container-fluid"></div>	
